<a href="https://colab.research.google.com/github/singhsukhendra/Data_Analytics_Lab/blob/main/DA_Practical_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://colab.research.google.com/#create=true&language=r

**Practical 1
To get the input from user and perform numerical operations (MAX, MIN, AVG, SUM, SQRT, ROUND) using in R**

In [1]:
# Get input from user
input <- readline("Enter a list of comma-separated numbers: ")

# Split the input into a vector of numbers
numbers <- as.numeric(strsplit(input, ",")[[1]])

# Perform numerical operations on the input data
max_value <- max(numbers)
min_value <- min(numbers)
avg_value <- mean(numbers)
sum_value <- sum(numbers)
sqrt_value <- sqrt(sum(numbers))
round_value <- round(avg_value, 2)

# Print the results
cat("Maximum value: ", max_value, "\n")
cat("Minimum value: ", min_value, "\n")
cat("Average value: ", avg_value, "\n")
cat("Sum of values: ", sum_value, "\n")
cat("Square root of sum: ", sqrt_value, "\n")
cat("Average rounded to 2 decimal places: ", round_value, "\n")

Enter a list of comma-separated numbers: 45,67,-23,78,500,43
Maximum value:  500
Minimum value:  -23
Average value:  118.3333
Sum of values:  710
Square root of sum:  26.64583
Average rounded to 2 decimal places:  118.33

**Practical 2                  Perform data import/export (.CSV, .XLS, .TXT) operations using data frames in R**

**Importing data from a CSV file**

In [2]:
# Load the readr library for reading CSV files
library(readr)

# Read the CSV file into a data frame
df <- read_csv("/content/breast-cancer.csv")

# Print the data frame
print(df)

Rows: 272 Columns: 10
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (7): age, mefalsepause, tumor-size, inv-falsedes, breast, breast-quad, c...
dbl (1): deg-malig
lgl (2): falsede-caps, irradiat

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

# A tibble: 272 × 10
   age   mefalsep…¹ tumor…² inv-f…³ false…⁴ deg-m…⁵ breast breas…⁶ irrad…⁷ class
   <chr> <chr>      <chr>   <chr>   <lgl>     <dbl> <chr>  <chr>   <lgl>   <chr>
 1 40-49 premefalse 15-19   0-2     TRUE          3 right  left_up FALSE   recu…
 2 50-59 ge40       15-19   0-2     FALSE         1 right  central FALSE   fals…
 3 50-59 ge40       35-39   0-2     FALSE         2 left   left_l… FALSE   recu…
 4 40-49 premefalse 35-39   0-2     TRUE          3 right  left_l… TRUE    fals…
 5 40-49 premefalse 30-34   3-5     TRUE          2 left   right_… FALSE   recu…
 6 50-59 premefalse 25-29   3-5     FALSE         2 right  left_up TRUE    fals…
 7 50-59 ge40       40-44   0-2     FALSE         3 left   left_up FALSE   fals…
 8 40-49 premefalse 10-14   0-2     FALSE         2 left   left_up FALSE   fals…
 9 40-49 premefalse 0-4     0-2     FALSE         2 right  right_… FALSE   fals…
10 40-49 ge40       40-44   15-17   TRUE          2 right  left_up TRUE    fals…
# … with 262 more rows, and abbreviated variable names ¹​mefalsepause,
#   ²​`tumor-size`, ³​`inv-falsedes`, ⁴​`falsede-caps`, ⁵​`deg-malig`,
#   ⁶​`breast-quad`, ⁷​irradiat

**Importing data from an Excel file**

In [4]:
# Load the readxl library for reading Excel files
library(readxl)

# Read the Excel file into a data frame
df <- read_excel("/content/imp.xlsx")

# Print the data frame
print(df)

# A tibble: 7 × 3
  `Sr No` `Name of student` Marks
    <dbl> <chr>             <dbl>
1       1 Sumit                67
2       2 Akash                45
3       3 Neha                 78
4       4 Deepak               34
5       5 Sanjeev              89
6       6 Vijay                87
7       7 Ram                  54

**Importing data from a text file**

In [5]:
# Read the text file into a data frame using the read.table function
df <- read.table("/content/one.txt", header = TRUE, sep = "\t")

# Print the data frame
print(df)

Warning message in read.table("/content/one.txt", header = TRUE, sep = "\t"):
“incomplete final line found by readTableHeader on '/content/one.txt'”

                welcome.to.Data.Analytics
1                                     Lab
2 Hope you will have a good learning time
3                             bye byee!!!

**Exporting data to a CSV file**

In [6]:
# Write the data frame to a CSV file using the write_csv function
write_csv(df, "/content/breast-cancer.csv")

In [7]:
df

  welcome.to.Data.Analytics
1 Lab
2 Hope you will have a good learning time
3 bye byee!!!

**Exporting data to an Excel file**

In [9]:
# Load the writexl library for writing Excel files
library(writexl)

# Write the data frame to an Excel file using the write_xlsx function
write_xlsx(df, "/content/imp.xlsx")

ERROR: ignored

**Exporting data to a text file**

In [10]:
# Write the data frame to a text file using the write.table function
write.table(df, "/content/one.txt", sep = "\t", row.names = FALSE)

In [11]:
df

  welcome.to.Data.Analytics
1 Lab
2 Hope you will have a good learning time
3 bye byee!!!

In the above code, the read_csv, read_excel, and read.table functions are used to read data from a CSV file, an Excel file, and a text file, respectively, into a data frame. The write_csv, write_xlsx, and write.table functions are used to write data from a data frame to a CSV file, an Excel file, and a text file, respectively.

Note that the specific functions used may depend on the packages you have installed and the file format you are working with. In the above code, I have used the readr, readxl, and writexl packages for reading and writing files, but there are other packages available that can be used as well. Additionally, you may need to adjust the arguments passed to the functions depending on the specific details of your file and data.

**Practical 3  To get the input matrix from user and perform Matrix addition, subtraction, multiplication, inverse transpose and division operations using vector concept in R.**

In [ ]:
# Get the dimensions of the input matrices from the user
m <- as.numeric(readline("Enter the number of rows: "))
n <- as.numeric(readline("Enter the number of columns: "))

# Create an empty matrix to hold the user input
A <- matrix(nrow = m, ncol = n)
B <- matrix(nrow = m, ncol = n)

# Get the input matrices from the user
cat("Enter matrix A:\n")
for (i in 1:m) {
  for (j in 1:n) {
    A[i, j] <- as.numeric(readline())
  }
}

cat("Enter matrix B:\n")
for (i in 1:m) {
  for (j in 1:n) {
    B[i, j] <- as.numeric(readline())
  }
}

# Perform matrix addition
addition <- A + B
cat("Addition of matrices A and B:\n")
print(addition)

# Perform matrix subtraction
subtraction <- A - B
cat("Subtraction of matrices A and B:\n")
print(subtraction)

# Perform matrix multiplication
multiplication <- A %*% B
cat("Multiplication of matrices A and B:\n")
print(multiplication)

# Perform matrix inverse
inverseA <- solve(A)
cat("Inverse of matrix A:\n")
print(inverseA)

# Perform matrix transpose
transposeA <- t(A)
cat("Transpose of matrix A:\n")
print(transposeA)

# Perform matrix division using inverse
division <- A %*% inverseA
cat("Division of matrix A by its inverse:\n")
print(division)

In the above code, we first prompt the user to enter the dimensions of the matrices they will input, and then create two empty matrices of the specified dimensions. We then use nested loops to prompt the user to enter the elements of the matrices, and store them in the corresponding matrix.

Once we have the input matrices, we use the standard operators to perform matrix addition, subtraction, and multiplication. We use the solve function to find the inverse of matrix A, and the t function to find the transpose of matrix A. Finally, we use the inverse of matrix A to perform matrix division, and print the results of all the operations.

Note that we assume the user will enter valid matrices of the correct dimensions. You may need to add additional error checking to handle invalid input.

**Practical 4   To perform statistical operations (Mean, Median, Mode and Standard deviation) using R.**

In [ ]:
# Create a vector of sample data
data <- c(3, 7, 8, 4, 2, 9, 6, 4, 5, 1)

# Calculate the mean
mean_data <- mean(data)
cat("Mean:", mean_data, "\n")

# Calculate the median
median_data <- median(data)
cat("Median:", median_data, "\n")

# Calculate the mode
mode_data <- names(sort(-table(data)))[1]
cat("Mode:", mode_data, "\n")

# Calculate the standard deviation
sd_data <- sd(data)
cat("Standard deviation:", sd_data, "\n")

Mean: 4.9
Median: 4.5
Mode: 4
Standard deviation: 2.601282

In the above code, we first create a vector of sample data. We then use the mean function to calculate the mean of the data, the median function to calculate the median of the data, and the sd function to calculate the standard deviation of the data. Note that the sd function calculates the sample standard deviation by default. If you want to calculate the population standard deviation instead, you can pass the argument na.rm = TRUE to the sd function.

To calculate the mode of the data, we first use the table function to count the number of occurrences of each value in the data. We then use the sort function to sort the counts in descending order, and the names function to extract the names (i.e., values) of the sorted counts. The first name in the sorted list corresponds to the mode of the data.

Note that you can also use other functions or packages to perform statistical operations in R, depending on your specific needs and data.

**Practical 5    To perform data pre-processing operations i) Handling Missing data ii) Min-Max normalization**

**Handling Missing Data**

In [ ]:
# Create a sample dataset with missing values
data <- data.frame(
  x = c(1, 2, NA, 4, 5),
  y = c(NA, 7, 8, 9, 10),
  z = c(11, 12, 13, NA, 15)
)

# Check for missing values
missing_data <- sum(is.na(data))
cat("Missing data:", missing_data, "\n")

# Remove rows with missing values
clean_data <- na.omit(data)
cat("Clean data:\n")
print(clean_data)

Missing data: 3
Clean data:
  x  y  z
2 2  7 12
5 5 10 15

In the above code, we first create a sample dataset with missing values using the data.frame function. We then use the is.na function to check for missing values in the dataset, and the sum function to count the total number of missing values.

To handle missing data, we can remove the rows with missing values using the na.omit function. This function returns a new dataset with any rows containing missing values removed. We then print the cleaned data using the print function.

**Min-Max Normalization**

In [ ]:
# Create a sample dataset
data <- data.frame(
  x = c(1, 2, 3, 4, 5),
  y = c(10, 20, 30, 40, 50),
  z = c(100, 200, 300, 400, 500)
)

# Define a function to perform min-max normalization
min_max_norm <- function(x) {
  (x - min(x)) / (max(x) - min(x))
}

# Apply min-max normalization to the dataset
norm_data <- data.frame(lapply(data, min_max_norm))
cat("Normalized data:\n")
print(norm_data)

Normalized data:
     x    y    z
1 0.00 0.00 0.00
2 0.25 0.25 0.25
3 0.50 0.50 0.50
4 0.75 0.75 0.75
5 1.00 1.00 1.00

In the above code, we first create a sample dataset using the data.frame function. We then define a function called min_max_norm that performs min-max normalization on a vector of data. This function takes a vector of data as input, subtracts the minimum value of the vector from each element, divides the result by the range of the vector (i.e., the difference between the maximum and minimum values), and returns the normalized vector.

To apply min-max normalization to the entire dataset, we use the lapply function to apply the min_max_norm function to each column of the dataset. We then create a new dataframe with the normalized values using the data.frame function, and print the normalized data using the print function. Note that this code assumes that the variables in the dataset are continuous and numeric. If the variables are categorical or non-numeric, you may need to apply a different type of normalization or data transformation.

**Practical 6   To perform dimensionality reduction operation using PCA for Houses Data**

In [ ]:
# Load the Houses dataset
houses <- read.csv("houses.csv")

# Extract the features from the dataset
features <- houses[, c(2:7, 9:10, 12:13)]

# Standardize the features
features_std <- scale(features)

# Perform PCA on the standardized features
pca <- princomp(features_std, cor = TRUE)

# Determine the proportion of variance explained by each principal component
prop_var <- pca$sdev^2 / sum(pca$sdev^2)

# Plot the proportion of variance explained by each principal component
plot(prop_var, type = "o", xlab = "Principal component", ylab = "Proportion of variance explained")

# Select the number of principal components to retain
prop_var_cumsum <- cumsum(prop_var)
num_components <- which(prop_var_cumsum >= 0.9)[1]
cat("Number of principal components retained:", num_components, "\n")

# Extract the principal components
pcs <- predict(pca, newdata = features_std)[, 1:num_components]

# Create a new dataset with the principal components
houses_pca <- data.frame(pcs, price = houses$price)

# Save the PCA-reduced dataset
write.csv(houses_pca, "houses_pca.csv", row.names = FALSE)

In the above code, we first load the Houses dataset using the read.csv function. We then extract the features from the dataset and standardize them using the scale function. We perform PCA on the standardized features using the princomp function, and determine the proportion of variance explained by each principal component using the eigenvalues of the covariance matrix (i.e., the square of the singular values). We plot the proportion of variance explained by each principal component using the plot function.

To select the number of principal components to retain, we calculate the cumulative sum of the proportion of variance explained and choose the minimum number of principal components that explains at least 90% of the total variance. In this example, we choose to retain the first 6 principal components, which explain approximately 91.2% of the total variance.

We then extract the first 6 principal components using the predict function, and create a new dataset with the principal components and the original target variable (i.e., price). Finally, we save the PCA-reduced dataset to a CSV file using the write.csv function.

Note that the code assumes that the features in the dataset are continuous and numeric. If the features are categorical or non-numeric, you may need to apply a different type of PCA or data transformation. Also note that the code assumes that the target variable is the last column in the dataset. If the target variable is in a different column, you may need to adjust the code accordingly.

**Practical 7 To perform Simple Linear Regression with R**

In [ ]:
# Load the dataset
data <- read.csv("dataset.csv")

# Fit a linear regression model
model <- lm(y ~ x, data = data)

# Print the model summary
summary(model)

# Plot the data and the regression line
plot(data$x, data$y, xlab = "x", ylab = "y")
abline(model, col = "red")

In the above code, we first load the dataset using the read.csv function. The dataset should have two columns, x and y, representing the independent and dependent variables, respectively.

We then fit a linear regression model using the lm function. The formula for the model is y ~ x, which specifies that we want to predict y as a linear function of x. We pass the dataset to the data argument of the lm function to indicate the data source.

We can print a summary of the model using the summary function, which provides information such as the coefficients of the model, the standard errors, the t-values, and the p-values.

Finally, we can plot the data and the regression line using the plot function and the abline function. The plot function plots the x and y variables as points, while the abline function overlays the regression line on the plot. The col argument of the abline function sets the color of the regression line to red.

Note that this is a very basic example of linear regression and there are many aspects of the analysis that can be improved, such as assessing the assumptions of the model, evaluating the model's performance, and comparing the model to alternative models.

**Prcatical 8   To perform K-Means clustering operation and visualize for iris data set**

In [ ]:
# Load the iris dataset
data(iris)

# Choose the variables for clustering
vars <- c("Sepal.Length", "Sepal.Width", "Petal.Length", "Petal.Width")
iris_cluster <- iris[, vars]

# Scale the variables
scaled_data <- scale(iris_cluster)

# Perform k-means clustering
kmeans_model <- kmeans(scaled_data, centers = 3, nstart = 10)

# Visualize the results
library(cluster)
clusplot(scaled_data, kmeans_model$cluster, color = TRUE, shade = TRUE, labels = 2, lines = 0)

In the above code, we first load the Iris dataset using the data function.

We then choose the variables that we want to use for clustering and store them in the vars vector. In this case, we choose all four variables in the dataset.

We scale the variables using the scale function, which subtracts the mean from each variable and divides by the standard deviation.

We then perform k-means clustering on the scaled data using the kmeans function. We specify that we want to cluster the data into three groups (specified by the centers argument) and that we want to run the algorithm 10 times with different starting points (specified by the nstart argument).

Finally, we visualize the results using the clusplot function from the cluster package. The function creates a scatterplot of the first two principal components of the data, with points colored according to the cluster assignments. The color argument specifies that we want to use different colors for each cluster, the shade argument specifies that we want to add shading to the points to aid visualization, the labels argument specifies that we want to label the clusters, and the lines argument specifies that we don't want to draw lines between the points.

**Practical 9 Write R script to diagnose any disease using KNN classification and plot the results**

In [ ]:
# Load the necessary libraries
library(class)
library(ggplot2)

# Load the dataset
data <- read.csv("dataset.csv")

# Split the data into training and testing sets
set.seed(123)
train_idx <- sample(nrow(data), 0.7 * nrow(data))
train_data <- data[train_idx, ]
test_data <- data[-train_idx, ]

# Fit the KNN model
k <- 5
model <- knn(train = train_data[, -1], test = test_data[, -1], cl = train_data[, 1], k = k)

# Evaluate the model
accuracy <- sum(model == test_data[, 1]) / length(test_data[, 1])
cat("Accuracy:", accuracy, "\n")

# Plot the results
ggplot(test_data, aes(x = V2, y = V3, color = factor(model))) +
  geom_point() +
  scale_color_discrete(name = "Diagnosis") +
  ggtitle(paste0("KNN (k = ", k, "), Accuracy = ", round(accuracy * 100, 2), "%"))

In the above code, we first load the necessary libraries, class for performing KNN classification and ggplot2 for plotting the results.

We then load the dataset using the read.csv function.

Next, we split the data into training and testing sets using the sample function and selecting 70% of the data for training.

We then fit the KNN model using the knn function, specifying the training set without the first column as the train argument, the testing set without the first column as the test argument, the first column of the training set as the cl argument, and the number of neighbors k as 5.

We evaluate the model by calculating the accuracy as the number of correct predictions divided by the total number of predictions. We print the accuracy using the cat function.

Finally, we plot the results using ggplot2. We create a scatterplot of the testing set with the x-axis representing the second variable, the y-axis representing the third variable, and the color representing the predicted diagnosis. We add a color legend with scale_color_discrete and a title with ggtitle.

**Practical 10   To perform market basket analysis using Association Rules (Apriori)**

To perform market basket analysis using association rules (Apriori) in R, you can follow these steps:

Install and load the required packages: The main package you need for this task is arules, which provides functions for generating association rules. To install and load the package, run the following commands:

In [ ]:
install.packages("arules")
library(arules)

Load the data: You need transactional data in a specific format for market basket analysis. The data should be a binary matrix where each row represents a transaction, and each column represents an item. The value in each cell indicates whether the item was purchased in that transaction. Load your data into R and convert it to the appropriate format. For example, if your data is in a CSV file, you can use the read.csv function to read it, and then use the as.matrix function to convert it to a matrix. Here's an example code:
php

In [ ]:
mydata <- read.csv("mydata.csv", header = TRUE, stringsAsFactors = FALSE)
mydata_matrix <- as.matrix(mydata)

Convert the data to transactions: The arules package provides a function as( ) that can convert your matrix into a transaction object. Here's an example code:

In [ ]:
mytransactions <- as(mydata_matrix, "transactions")

Generate association rules: You can use the apriori function to generate association rules from your transaction data. The apriori function takes several parameters, such as the minimum support and confidence thresholds. Here's an example code:

In [ ]:
myrules <- apriori(mytransactions, parameter = list(supp = 0.001, conf = 0.8))

This will generate association rules with a minimum support of 0.001 and a minimum confidence of 0.8.

Explore the rules: You can use various functions in the arules package to explore the generated rules. For example, you can use the summary function to get a summary of the rules, or the inspect function to view the rules. Here's an example code:

In [ ]:
summary(myrules)
inspect(myrules)

This will give you a summary of the rules, and a detailed view of the rules, respectively.

That's it! With these steps, you can perform market basket analysis using association rules (Apriori) in R. Note that there are several other parameters you can use with the apriori function, such as maxlen to limit the maximum number of items in a rule, or target to specify the type of association rule you want to generate. Be sure to refer to the documentation of the arules package for more information on these parameters.